<section class="auth-section">
 <div class="auth-box">
   <h2>Login</h2>
   <form class="form-box" method="POST" action="/user/login">
     <div class="input-box">
       <input type="email" name='email' placeholder="Email" required>
     </div>
     <div class="input-box">
       <input type="password" name='password' placeholder="Password" required>
     </div>
     <div class="input-box button">
       <input type="Submit" value="Login Now">
     </div>
   </form>
 </div>
</section>