<section class="table-container">
    <div>
        <h1>Admin Orders</h1>
        <table>
            <thead>
                <tr>
                    <th>Orders</th>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Placed at</th>
                </tr>
            </thead>
            <tbody id="orderTableBody"></tbody>
        </table>
    </div>
</section>